{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <title>
        {% block title %}
            Boas vindas
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'template_index' %}">IFRN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_cursos' %}">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'template_sobre' %}">Sobre</a>
                </li>
        </div>
    </nav>

    <div class="container text-center">
        {% block body %}
        Texto
        {% endblock %}
    </div>

    <footer class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{% static 'img/LogoIFRN.JPG' %}" alt="logo">
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>